[submodule "3rd_party/PreCore"]
	path = 3rd_party/PreCore
	url = https://github.com/PredatorCZ/PreCore.git
[submodule "3rd_party/PugiXml"]
	path = 3rd_party/PugiXml
	url = https://github.com/zeux/pugixml.git
